[submodule "themes/hugograyscale"]
	path = themes/hugograyscale
	url = git@github.com:runningstream/hugograyscale.git
[submodule "public"]
	path = public
	url = git@github.com:drehwurm-band/drehwurm-band.git
